name: Rust

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - run: rustup target add wasm32-unknown-unknown
    - uses: cargo-bins/cargo-binstall@main
    - run: cargo binstall dioxus-cli@0.7
    - run: cargo build
    - run: cargo test

    - working-directory: arpui
      run: dx build
