name: Rust

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose

    - name: DXUI build
      working-directory: arpui
      run: cargo check --target wasm32-unknown-unknown

    - name: DXUI test
      working-directory: arpui
      run: cargo test
