name: Rust

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - run: rustup target add wasm32-unknown-unknown
    - run: cargo install dioxus-cli
    - run: cargo build
    - run: cargo test

    - working-directory: arpui
      run: dx build
